[submodule "libraries/Adafruit_Python_DHT"]
	path = libraries/Adafruit_Python_DHT
	url = https://github.com/adafruit/Adafruit_Python_DHT.git
[submodule "libraries/DHT-sensor-library"]
	path = libraries/DHT-sensor-library
	url = https://github.com/adafruit/DHT-sensor-library.git
[submodule "libraries/RF24"]
	path = libraries/RF24
	url = https://github.com/TMRh20/RF24.git
[submodule "libraries/DallasTemperature"]
	path = libraries/DallasTemperature
	url = https://github.com/milesburton/Arduino-Temperature-Control-Library.git
[submodule "libraries/OneWire"]
	path = libraries/OneWire
	url = https://github.com/PaulStoffregen/OneWire.git
[submodule "libraries/Arduino"]
	path = libraries/Arduino
	url = https://github.com/arduino/Arduino.git
	shallow = true
	branch = refs/tags/1.5.6
